extends layout

block side-content
  ul
    li(style='padding : 5px') Top Stories
    li(style='padding : 5px') New Questions
    li(style='padding : 5px') Bookmarked Answers
    li(style='padding : 5px') Links
    li(style='padding : 5px') Movies
    li(style='padding : 5px') Communism
    li(style='padding : 5px') Competitive Programming
    li(style='padding : 5px') Philosophy
    li(style='padding : 5px') Computer Programming
    li(style='padding : 5px') Literature
    li(style='padding : 5px') Economics
    li(style='padding : 5px') Computer Science
    li(style='padding : 5px') Psychology
    li(style='padding : 5px') Business Model
block main-content
  .row
    .col-lg-10.col-lg-8
      row.list-group
        .col-xs-lg.list-group-item
            img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
            p(style='margin-top : 5px') &nbsp; Rupak kumar upvoted this - 20 min
            h3(style='font-weight: bold;') Do you consider “nine-to-five” jobs as modern slavery?
            img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
            p(style='margin-top : 5px') &nbsp; Cecelia Smith, Opinions - Unlimited Free Samples (Created during my life.)
            small &nbsp;
            p In my opinion, husband material is a man, not a boy. He is a little tedious and obnoxiously responsible. The one on whom you can always rely on. The one who will appreciate your marks and scars after you give birth, not condemn and criticize your flaws. The one who will be there at your lowest times. The one who won’t shy away from fixing issues.
          small &nbsp;
        .col-lg-12.list-group-item
            img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
            p(style='margin-top : 5px') &nbsp; Rupak kumar upvoted this - 20 min
            h3(style='font-weight: bold;') Do you consider “nine-to-five” jobs as modern slavery?
            img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
            p(style='margin-top : 5px') &nbsp; Cecelia Smith, Opinions - Unlimited Free Samples (Created during my life.)
            small &nbsp;
            p In my opinion, husband material is a man, not a boy. He is a little tedious and obnoxiously responsible. The one on whom you can always rely on. The one who will appreciate your marks and scars after you give birth, not condemn and criticize your flaws. The one who will be there at your lowest times. The one who won’t shy away from fixing issues.
          small &nbsp;

        .col-lg-12.list-group-item
            img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
            p(style='margin-top : 5px') &nbsp; Rupak kumar upvoted this - 20 min
            h3(style='font-weight: bold;') Do you consider “nine-to-five” jobs as modern slavery?
            img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
            p(style='margin-top : 5px') &nbsp; Cecelia Smith, Opinions - Unlimited Free Samples (Created during my life.)
            small &nbsp;
            p In my opinion, husband material is a man, not a boy. He is a little tedious and obnoxiously responsible. The one on whom you can always rely on. The one who will appreciate your marks and scars after you give birth, not condemn and criticize your flaws. The one who will be there at your lowest times. The one who won’t shy away from fixing issues.
          small &nbsp;
        .col-lg-12.list-group-item
          img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
          p(style='margin-top : 5px') &nbsp; Rupak kumar upvoted this - 20 min
          h3(style='font-weight: bold;') Do you consider “nine-to-five” jobs as modern slavery?
          img(src='https://lh3.googleusercontent.com/-1Y8vIfwgnk4/WWh2wrdFHbI/AAAAAAAAAlo/ucZ_-3Hxn5UMm9rhB5PjjZYAZeY61kYqQCEwYBhgL/w139-h140-p/IMG_20170511_105206009.jpg').img-circle(style='width:30px; height:30px; float : left')
          p(style='margin-top : 5px') &nbsp; Cecelia Smith, Opinions - Unlimited Free Samples (Created during my life.)
          small &nbsp;
          p In my opinion, husband material is a man, not a boy. He is a little tedious and obnoxiously responsible. The one on whom you can always rely on. The one who will appreciate your marks and scars after you give birth, not condemn and criticize your flaws. The one who will be there at your lowest times. The one who won’t shy away from fixing issues.

